@theme {
	--font-sans: 'Roboto', sans-serif;
	--font-mono: 'JetBrains Mono', ui-monospace, monospace;

	--color-primary: var(--primary);
	--color-on-primary: var(--onPrimary);
	--color-primary-container: var(--primaryContainer);
	--color-on-primary-container: var(--onPrimaryContainer);

	--color-secondary: var(--secondary);
	--color-on-secondary: var(--onSecondary);
	--color-secondary-container: var(--secondaryContainer);

	--color-tertiary: var(--tertiary);
	--color-on-tertiary: var(--onTertiary);
	--color-tertiary-container: var(--tertiaryContainer);

	--color-error: var(--error);
	--color-on-error: var(--onError);

	--color-background: var(--background);
	--color-on-background: var(--onBackground);
	--color-surface: var(--surface);
	--color-on-surface: var(--onSurface);

	--color-surface-container-lowest: var(--surfaceContainerLowest);
	--color-surface-container-low: var(--surfaceContainerLow);
	--color-surface-container: var(--surfaceContainer);
	--color-surface-container-high: var(--surfaceContainerHigh);
	--color-surface-container-highest: var(--surfaceContainerHighest);
	--color-surface-variant: var(--surfaceVariant);
	--color-on-surface-variant: var(--onSurfaceVariant);

	--color-outline: var(--outline);
}
