*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.jks
*.keystore
keystore.properties
release.keystore
